.react-search-box {
    position: absolute;
    width: 30%;
    margin-left: 35%;
    height:min-content;
    max-height: min-content;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    display: table;
}

.react-search-box input {
    position: relative;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 5%;
}

.react-search-box input::placeholder {
    color: #aaa;
}

.react-search-box .react-search-box-icon {
    margin-right: 10px;
    color: #aaa;
    font-size: 24px;
}

.react-search-box .react-search-box-dropdown {
    position: relative;
    width: 100%;
    background: #fff;
    border: none !important;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.react-search-box .react-search-box-dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s;
}

.react-search-box .react-search-box-dropdown-item:hover {
    background: #f0f0f0;
}